main {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 62vw;
    height: fit-content;
    margin: auto;
    gap: 3vh;
}

.barrier-tooltip {
    text-align: center;
    margin:0;
    padding:0;
    color: #1F3659;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1vw;
}

.slider-button {
    width: 1.5vw;
    height: 1.5vw;
    border-color: #1F3659;
    border-style: solid;
    border-width: .2vw;
    padding: 1vw;

    color: #1F3659;
    background-color: white;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.3vw;
    font-weight: 500;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
}

.slider-button:hover{
    animation-timing-function: ease-in-out;
    animation-duration: 300ms;
    color: white;
    background-color: #1F3659;
    cursor: pointer;
}

.slider-button *:hover{
    cursor: pointer;
}

.slider-button label {
    text-align: center;
    vertical-align: center;
    padding:1vw;
    font-size: 1.5vw;

    color: #1F3659;
    font-family: 'IBM Plex Sans', sans-serif;
}

.slider-button:hover label {
    color: white;
}

.slider {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contrast-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contrast-div > label {
    text-align:center;
    display: flex;
    flex-direction: row;
    justify-self: center;
    margin: 0 auto;
} 
  
.toggle {
    background-color: white;
    border-color: #1F3659;
    border-width: .2vw;
    border-style: solid;
    width: 2.8em;
    height: 1.5em;
    /* width: 60px;
    height: 32px; */
    border-radius: 3em;
    display: flex;
    flex-direction: column;

    color: #1F3659;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1vw;
}

.accessibility-container > input {
    display: none;
}

.toggle-slider {
    height: 90%;
    width: 45%;
    background-color: #1F3659;
    border-radius: 90%;
    margin: 5%;
}

#contrast:checked + #contrast-toggle {
    background-color: #1F3659;
}

#simple-text:checked + #simple-text-toggle {
    background-color: #1F3659;
}

#tag-me-disabled:checked + #tag-me-disabled-toggle {
    background-color: #1F3659;
}

.accessibility-container > input:checked + #contrast-toggle > .toggle-slider {
    background-color: white;
    align-self: flex-end;
}
.accessibility-container > input:checked + #simple-text-toggle > .toggle-slider {
    background-color: white;
    align-self: flex-end;
}
.accessibility-container > input:checked + #tag-me-disabled-toggle > .toggle-slider {
    background-color: white;
    align-self: flex-end;
}

.toggle:hover{
    cursor: pointer;
}
.toggle *:hover {
    cursor: pointer;
}


.accessibility-container {
    display: flex;
    width: 100%;
    justify-content: left;
    align-items: center;
    gap: 1vw;
}