main {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    width: 86.6vw;
    height: fit-content;
    margin: auto;
    gap: 1vw;
    justify-content: center;
}

#side {
    display: flex;
    flex-direction: column;
    width: fit-content;
    /* gap: 2vh; */
}

.map-input-label {
    text-align: left;
    margin:0;
    margin-top: 2vh;
    margin-bottom: .3vh;
    padding:0;
    color: #1F3659;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.5vw;
}

.map-input {
    box-sizing: border-box;
    height: 3vw;
    width: 15vw;

    color: #1F3659;
    background-color: white;

    border: #1F3659 solid .1vw;
    padding: 0.3vw;

    /* Font properties */
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.3vw;
    font-weight: 500;
    /* line-height: 31px; */
    letter-spacing: 0em;
    text-align: left;
}

#map-input:focus {
    outline: none;
}

#map-container {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: left;
}

#map {
    object-fit: contain;
    width: 65vw;
    clip-path: inset(0% 0% 13.3%); /*crop the legend at the bottom*/
}

#side button{
    width: fit-content;
    margin-top: 5vh;
    display: flex;
    align-items: center;
    justify-content: left;
    font-family: 'IBM Plex Sans', sans-serif;
    /* font-size: 1.3vw; */
    font-size: 1vw;
    font-weight: 500;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
    gap: .5vw;
}

#side button:active {
    color: #1F3659;
    background-color: white;
}

#side button .material-symbols-outlined {
    font-size: 1.5vw !important;
}

#back {
    margin-top: 2vh !important;
    margin-bottom: 2vh !important;
}