#popup-div{
    display:flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-around;
    z-index: 5;
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    background-color: white;
    border: 0.5vw solid #1F3659;
    gap: 0;
    padding: 3%;
}

/* For module registration*/
#feed #popup-div {
    top: 15% !important;
    height: fit-content !important;
}
/* #popup-div > *{
    margin-left: 1vw;
} */

#close-popup{
    position: absolute;
    top: 0;
    right: 0;
    width: 3vw;
    height: 3vw;
    background-color: white;
    color: #1F3659;
    font-size: 1vw;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    border-left: #1F3659 solid .2vw;
    border-bottom: #1F3659 solid .2vw;
    border-top: 0;
    border-right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#close-popup:hover {
    color: white;
    background-color: #1F3659;
}

#close-popup .material-symbols-outlined {
    font-size: 2vw !important;
}

#popup-div ul {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: left;
    height: fit-content;
    gap: .7vw;
    list-style-type: none;
    padding-left: 0;
}

#popup-div li{
    display: flex;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.5vw;
    font-weight: 500;
    text-align: left;
    color: #1F3659;
    margin-bottom: 0;
    margin-top:0;
    justify-content: space-between;
    /* padding-left: 1vw; */
}
#popup-div li p{
    margin-bottom: 0;
    margin-top:0;
    /* padding-left: 1vw; */
}
#popup-div li label{
    font-weight: 700;
}
#popup-div li #notify-box {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#popup-div li #notify-box label {
    display: flex;
    font-weight: 500;
    text-align: right;
    width: fit-content;
    flex-wrap: wrap;
}
#popup-div li #notify-box input {
    cursor: pointer;
    display: flex;
    height: 2vw;
    width: 2vw;
} 

#popup-div > h1{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 2.3vw;
    font-weight: 500;
    line-height: 1vh;
    letter-spacing: 0em;
    text-align: left;
    color: #1F3659;
    margin-bottom: 0;
    margin-top:0;
    /* padding-left: 3vw; */
}

#pruefung-einschreibe-button{
    width: fit-content;
    height: 6vh;
    background-color: white;
    color: #1F3659;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 2.3vw;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    border: 0.2vw solid #1F3659;
    /* margin-left: 5vw; */
}

#pruefung-einschreibe-button:hover{
    background-color: #1F3659;
    color: white;
}


#pruefung-loschen-button{
    width: fit-content;
    height: 6vh;
    background-color: white;
    color: #1F3659;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 2.3vw;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    border: 0.2vw solid #1F3659;
    /* margin-left: 5vw; */
}

#pruefung-loschen-button:hover{
    background-color: #1F3659;
    color: white;
}

#modul-einschreibe-button{
    width: fit-content;
    height: 6vh;
    background-color: white;
    color: #1F3659;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 2.3vw;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    border: 0.2vw solid #1F3659;
    /* margin-left: 5vw; */
}

#modul-einschreibe-button:hover{
    background-color: #1F3659;
    color: white;
}

select {
    color: #1F3659;
    height: 100%;
    width: fit-content;
    border: #1F3659 solid .2vw;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.2vw;
    font-weight: 500;
}

select:focus {
    outline: none;
}

@media (max-height: 600px) {
    #pruefung-einschreibe-button{
        height: 12vh;
    }
    #pruefung-loschen-button{
        height: 12vh;
    }
    #popup-div {
        width: 90%;
    }
}

@media (max-width: 800px) {
    #popup-div {
        left: 5%;
        width: 90%;
    }
    #popup-div li{
        font-size: 4vw;
    }
    #popup-div li *{
        font-size: 4vw;
    }
    
    #popup-div > h1{
        font-size: 4vw;
    }
    
    #pruefung-einschreibe-button{
        font-size: 4vw;
    }
    
    #pruefung-loschen-button{
        font-size: 4vw;
    }
    select {
        font-size: 3vw;
    }

    #close-popup {
        width: 6vw;
        height: 6vw;
        font-size: 4vw;
    }
    #close-popup .material-symbols-outlined {
        font-size: 4vw !important;
    }
    #popup-div li #notify-box label {
        width: 45vw;
    } 
    #popup-div li #notify-box input {
        height: 4vw;
        width: 4vw;
    } 
    
}