#search {
    margin: auto;
    margin-top: 1vh;
    /* width: 86.8vw; */
    box-sizing: border-box;
    width: 62vw;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    justify-content: center;
    /* gap: 1vw; */

    border-color: #1F3659;
    border-style: solid;
    border-width: .2vw;
}

.searchbox {
    flex-grow: 1;

    height: .01vh;
    border: 0;
    padding: 1vw; 

    color: #1F3659;
    background-color: white;

    /* Font properties */
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1vw;
    font-weight: 500;
    /* line-height: 31px; */
    letter-spacing: 0em;
    text-align: left;
}

.searchbox:focus {
    outline: none;
}

#search button {
    width: 2vw;
    height: 2vh;
    border: 0;
    padding: 1vw; 

    color: #1F3659;
    background-color: white;

    /* Inside auto layout */
    display: flex;
    align-items: center;
    justify-content: center;
}

#search button:hover {
    animation-timing-function: ease-in-out;
    animation-duration: 300ms;
    color: white;
    background-color: #1F3659;
    cursor: pointer;
}

#search button > span {
    font-size: 1.5vw !important;
}

@media (max-width: 800px) {
    #search {
        width: 86.6vw;
        padding-left: 0;
        padding-right: 0;
    }
    .searchbox {
        font-size: 2.5vw;
        height: fit-content;
    }
    #search button {
        width: 4vw;
        height: 100%;
        padding: 3vw;
    }
    #search button > span {
        font-size: 4vw !important;
    }
}

@media (max-width: 600px) {
    #search {
        width: 86.6vw;
        height: 10vw;
        gap: 1vw;
    }
    .searchbox {
        font-size: 3vw;
        height: fit-content;
    }
    #search button > span {
        font-size: 5vw !important;
    }
}

